// TODO: style this component, for reals
p {
  color: white;
}

.main-container {
  width: 70%;
  height: 800px;
  background-color: rgb(187, 68, 62);
  margin: 0 auto;
}

.analyzing {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  font-size: 30px;
  color: #bc423c;
  text-align: center;
}

.button {
  padding: 1em;
  background-color: #bc423c;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  margin: 0 auto;
}

.button-container {
  margin: 0 auto;
  width: 70%;
}

.dependency-and-alternatives {
  padding: 3em;
  width: 70%;
  height: 600px;
  margin: 0 auto;
}

.dependency {
  width: 100%;
  color: white;
}

.alternatives {
  width: 100%;
  color: white;
}
