<p>
  Delete me. this is the tree score for {{ currentPackage.name }}:
  {{ currentTreeScore }}
</p>
<ng-container [ngSwitch]="state">
  <p *ngSwitchCase="'analyzing'">Analyzing {{ currentPackage.name }}.</p>
  <p *ngSwitchCase="'findingAlternatives'">
    Finding alternative packages for {{ currentPackage.name }}.
  </p>
  <!-- TODO: What gets passed to this component ? -->
  <div class="main-container" *ngSwitchCase="'displayingAlternatives'">
  <!-- <div class="main-container" *ngSwitchCase="'analyzing'"> -->
    <app-dependency-and-alternatives
    ></app-dependency-and-alternatives>
  </div>
  
</ng-container>
<!-- TODO: be smart about when to display the next button. -->
<button (click)="nextPackage()">next package</button>
