h1 {
  color: #bc423c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

input[type='text'],
button {
  color: #333;
  font-family: Cambria, Georgia;
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
}

.aboutTreeScore {
  text-align: center;
  color: #ffffff;
  padding-left: 15em;
  padding-right: 15em;
}

.goal {
  border-top: 3px solid #bc423c;
  text-align: center;
  color: #ffffff;
  padding-left: 15em;
  padding-right: 15em;
}

.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  background-color: #eee;
  border: dotted 1px #aaa;
  padding-left: 15em;
  padding-right: 15em;
  margin: 0 auto;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.dropzone {
  padding-left: 15em;
  padding-right: 15em;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
