h1 {
  color: #bc423c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

input[type='text'] {
  margin-top: 5px;
  margin-left: 20%;
  color: #333;
  font-family: Cambria, Georgia;
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
}

.aboutTreeScore {
  text-align: center;
  color: #ffffff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.goal {
  border-top: 3px solid #bc423c;
  text-align: center;
  color: #ffffff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
